@import "../theme.scss";

.Border {
    border: 1px solid $color-border;
    border-radius: $border-radius;
}

.Container {
    display: flex;
    flex-direction: column;
    width: 100%;
}

.Filter {
    @extend .Border;
    flex: 1;
    padding-left: $spacing / 2;
    margin-bottom: $spacing / 2;
}

.Content {
    flex: 1;
    display: flex;
    flex-direction: row;
    gap: $spacing / 2;
    min-height: 500px;
}

.LineChart {
    @extend .Border;
    flex: 1;
    padding: $spacing;
}